body {
    background: #E1D4C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #403F3D;
 
}


.header__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header__menu--nav > *{
    margin-right: 40px;
}
.header__menu--nav > *:last-child{
    margin-right: 0;
}
.header__menu--coffeeMenuButton {
    background-color: transparent;
    border: 0;
    outline: none;
    
}