.about__title {
    margin: 0 0 40px 0;
}

.about__imageColumns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.about__column__bigBox {
    max-width: 660px;
    max-height: 590px;
    border-radius: 20px;

}