.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #665F55;
    border-radius: 40px;
    height: 450px;
}

.footer__socialMedia {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.footer__socialMedia--title {
    margin: 0 0 40px 0;
}

.footer__socialMedia--list {
    display: flex;
    flex-flow: row nowrap;
}

.footer__socialMedia--item {
    width: 60px;
    height: 60px;
    border: 1px solid #E1D4C9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__socialMedia--list > * {
    margin-right: 12px;
}

.footer__socialMedia--list > *:last-child {
    margin: 0;
}

.footer__contacts {
    display: flex;
    flex-flow: column nowrap;
    color: #E1D4C9;
}

.footer__contacts--title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
}

.footer__contacts--list {
    display: flex;
    flex-flow: column nowrap;

}

.footer__contacts--list > li > svg {
    position: absolute;
    left: -26px;
    top: -2px;
}

.footer__contacts--list > * {
    position: relative;
    margin-bottom: 16px;
}

.footer__contacts--list > *:last-child {
    margin: 0;
}