.hero__container {
    color: #E1D4C9;
    position: relative;
}

.hero__offer__container {
    padding: 100px;
    background-image: url("/coffee-house/icons/img-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}
.hero__offer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 530px;
}

.hero__offer > * {
    margin: 0 0 40px 0;
}
.hero__offer > *:last-child {
    margin: 0;
}

#mainPageTitle {
    font-size: 72px;

}

.hero__button {
    width: 200px;
    height: 64px;
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: #E1D4C9;
    text-align: center;
    padding: 20px 78px 20px 78px;
    font-weight: 600;
}