.mobileApp__conatiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}


.mobileApp__mobilesImage {
    height: 630px;
    width: 630px;
}

.appButton {
    width: 200px;
    height: 64px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: transparent;

}