.mobileApp {
    margin: 0 0 100px 0;
}

.mobileApp__conatiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.mobileApp__title {
    margin: 0 0 40px 0;
}

.mobileApp__buttons__container {
    display: flex;
}

.mobileApp__description {
    margin: 0 0 40px 0;
}

.mobileApp__appStore {
    margin-right: 20px;
}

.mobileApp__mobilesImage {
    height: 630px;
    width: 630px;
}

.appButton {
    position: relative;
    width: 200px;
    height: 64px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 67px;

    cursor: pointer;

}

.appButton > svg {
    position: absolute;

}

.mobileAppButton__text {
    text-align: left;
}

.mobileAppButton__description {
    font-weight: 600;
    font-size: 10px;
}

.mobileAppButton__StoreName {
    font-weight: 600;
    font-size: 16px;
}


#appButton--appStore {
    width: 36px;
    height: 36px;
    padding: 1.8px, 4.94px, 2.55px, 4.65px;
    left: 25px;
    top: 12px;
}

#appButton--GooglePlay {
    width: 30.34px;
    height: 32.79px;
    left: 31px;
}