.about {
    margin: 0 0 100px 0;
}

.about__title {
    margin: 0 0 40px 0;
}

.about__imageColumns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 47%;
}

.about__column > * {
    overflow: hidden;
    margin: 0 0 40px 0;

    & > img {
        width: 100%;
        height: auto;
    }
}

.about__column > *:last-child {
    margin: 0;
}

.about_column--bigBox {
    width: 100%;
    height: auto;
    border-radius: 20px;

}

.about_column--smallBox {
    width: 100%;
    height: auto;
    border-radius: 20px;

}