@import "../../media.scss";
@import "../../layout.scss";

.burger {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 100%;
    height: calc(100% - 64px);
    top: -400px;
    left: 0;
    background-color: #E1D4C9;
    padding: 60px 40px;
    color: #403F3D;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-out;
}

.burger.opened {
    display: flex;
    opacity: 1;
    top: 64px;
}

.burger-menu__nav {
    font-weight: 600;
    font-size: 32px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    min-height: 150px;
    height: 100%;
    max-height: 300px;
    
    margin-bottom: 100px;



    & > * {
        color: #403F3D;
        
    }
}

.burger-menu--menuButton {
    font-weight: 600;
    font-size: 32px;
}