html, body {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 786px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 380px) {
  html, body {
    font-size: 14px;
  }
}

body {
  background: #E1D4C9;
  font-family: "Inter", sans-serif;
  color: #403F3D;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0 2.5rem;
}

.sectionTitle {
  font-size: 3.75rem;
}
@media screen and (max-width: 786px) {
  .sectionTitle {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 675px) {
  .sectionTitle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 380px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.favoriteCoffee {
  margin: 0 0 6.25rem 0;
}

.favoriteCoffee__title {
  margin: 0 0 2.5rem 0;
  text-align: center;
}

.favoriteCoffee__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favoriteCoffee__slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.favoriteCoffee__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2.75rem;
}

.favoriteCoffee__slider--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: transparent;
  border: 0.0625rem solid #665F55;
  border-radius: 50%;
}

.favoriteCoffee__slider--button:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.favoriteCoffee__slider--button:hover {
  background-color: #665F55;
}

.favoriteCoffee__slider--button:hover > svg > path {
  stroke: rgb(214, 214, 214);
}

.favoriteCoffee__slider--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favoriteCoffee__slider--item__container {
  width: 30rem;
}

.favoriteCoffee__slider--list {
  padding: 0;
  margin: 0;
}

.favoriteCoffee__slider--item--picture {
  width: 30rem;
  height: 30rem;
  -webkit-user-drag: none;
}

.favoriteCoffee__slider--item--text {
  text-align: center;
}

.favoriteCoffee__slider--item--name {
  font-size: 1.5rem;
  font-weight: 600;
}

.favoriteCoffee__slider--item--cost {
  font-weight: 600;
  font-size: 1.5rem;
}

.favoriteCoffee__paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favoriteCoffee__paginator > * {
  margin-right: 0.75rem;
}

.favoriteCoffee__paginator > *:last-child {
  margin: 0;
}