html, body {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 786px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }
}

body {
  background: #E1D4C9;
  font-family: "Inter", sans-serif;
  color: #403F3D;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0 40px;
}

.sectionTitle {
  font-size: 3.75rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__container {
  margin-bottom: 20px;
}

.header__menu {
  margin: 0;
  padding: 0 23px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--nav > * {
  margin-right: 40px;
  color: #403F3D;
  text-decoration: none;
}

.header__menu--nav > *:last-child {
  margin-right: 0;
}

.header__menu--coffeeMenuButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.header__menu--coffeeMenuButton__name {
  font-size: 16px;
  font-weight: 600;
}

.header__menu--coffeeMenuButton > svg {
  position: absolute;
  right: -24px;
  top: -2.5px;
}