@import "../../media.scss";
@import "../../layout.scss";

.header__container {
    margin-bottom: rem(20px);
    background-color: #E1D4C9;
    @include tablets {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

}

.header__menu {
    margin: 0;
    padding: 0 rem(23px) 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        padding: 0;
    }
}

.header__menu--nav > *{
    margin-right: rem(40px);
    color: #403F3D;
    
    @include tablets {
        display: none;
    }
}

.header__burger-menu {
    display: none;

    width: 40px;
    height: 40px;
    border: 1px solid #665F55;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    
    & > svg {
        margin-bottom: 6px;
        height: 3px;
        width: 16px;
    }

    & > svg:last-child {
        margin: 0;
    }

    @include tablets {
        display: flex;

    }


    
}


.header__menu--nav > *:last-child{
    margin-right: 0;
}
.header__menu--coffeeMenuButton {
    display: flex;
    position: relative;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    @include tablets {
        display: none;  
    }
}

.header__menu--coffeeMenuButton__name {
    font-size: rem(16px);
    font-weight: 600;
}

.header__menu--coffeeMenuButton > svg {
    position: absolute;
    right: rem(-24px);
    top: rem(-3px);
}