html, body {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 786px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 380px) {
  html, body {
    font-size: 14px;
  }
}

body {
  background: #E1D4C9;
  font-family: "Inter", sans-serif;
  color: #403F3D;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0 2.5rem;
}

.sectionTitle {
  font-size: 3.75rem;
}
@media screen and (max-width: 786px) {
  .sectionTitle {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 675px) {
  .sectionTitle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 380px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.mobileApp {
  margin: 0 0 6.25rem 0;
}

.mobileApp__conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobileApp__conatiner > * {
  width: 40%;
}
@media screen and (max-width: 786px) {
  .mobileApp__conatiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.mobileApp__content {
  min-width: 24.375rem;
}
@media screen and (max-width: 786px) {
  .mobileApp__content {
    width: 100%;
    margin-bottom: 100px;
  }
}

.mobileApp__title {
  margin: 0 0 2.5rem 0;
}

.mobileApp__buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileApp__description {
  margin: 0 0 2.5rem 0;
}

.mobileApp__appStore {
  margin-right: 1.25rem;
}

.mobileApp__mobilesImage {
  height: auto;
  width: 47%;
}
@media screen and (max-width: 786px) {
  .mobileApp__mobilesImage {
    max-height: 630px;
    max-width: 630px;
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .mobileApp__mobilesImage {
    max-height: 348px;
    max-width: 348px;
    min-width: 245px;
    min-height: 245px;
    width: 100%;
  }
}

.appButton {
  position: relative;
  width: 12.5rem;
  height: 4rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #665F55;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 4.1875rem;
  cursor: pointer;
}

.appButton > svg {
  position: absolute;
}

.mobileAppButton__text {
  text-align: left;
}

.mobileAppButton__description {
  font-weight: 600;
  font-size: 0.625rem;
}

.mobileAppButton__StoreName {
  font-weight: 600;
  font-size: 1rem;
}

#appButton--appStore {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.5rem 5.875rem 3.4375rem 4.0625rem;
  left: 1.5625rem;
  top: 0.75rem;
}

#appButton--GooglePlay {
  width: 2.125rem;
  height: 4.9375rem;
  left: 1.9375rem;
}