@import "../../media.scss";
@import "../../layout.scss";

.mobileApp {
    margin: 0 0 rem(100px) 0;
}

.mobileApp__conatiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    & > * {
        width: 40%;
    }
}

.mobileApp__content {
    min-width: rem(390px);
}

.mobileApp__title {
    margin: 0 0 rem(40px) 0;
}

.mobileApp__buttons__container {
    display: flex;
}

.mobileApp__description {
    margin: 0 0 rem(40px) 0;
}

.mobileApp__appStore {
    margin-right: rem(20px);
}

.mobileApp__mobilesImage {
    height: auto;
    width: 47%;
}

.appButton {
    position: relative;
    width: rem(200px);
    height: rem(64px);
    padding: rem(12px), rem(20px), rem(12px), rem(20px);
    border-radius: rem(100px);
    border: rem(1px) solid #665F55;
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 rem(67px);

    cursor: pointer;

}

.appButton > svg {
    position: absolute;

}

.mobileAppButton__text {
    text-align: left;
}

.mobileAppButton__description {
    font-weight: 600;
    font-size: rem(10px);
}

.mobileAppButton__StoreName {
    font-weight: 600;
    font-size: rem(16px);
}


#appButton--appStore {
    width: rem(36px);
    height: rem(36px);
    padding: 1.rem(8px), 4.rem(94px), 2.rem(55px), 4.rem(65px);
    left: rem(25px);
    top: rem(12px);
}

#appButton--GooglePlay {
    width: 30.rem(34px);
    height: 32.rem(79px);
    left: rem(31px);
}