.coffee__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.coffee__list--item {
    height: 506px;
    width: min-content;
    border: 1px solid #C1B6AD;
    border-radius: 40px;
}

.coffee__list--item {
    margin-bottom: 40px;
}

.coffee__list--itemPicture {
    width: 310px;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;

}

.coffee__description {
    height: 100%;
    padding: 20px;
}


.coffee__textBox__title {
    margin: 0 0 12px 0;
    font-size: 24px;
    font-weight: 600;
}

.coffee__price {
    font-weight: 600;
    font-size: 24px;
}