.hero__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hero__title {
    font-size: 60px;
    width: 800px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 40px 0;
}

.hero__tabs {
    display: flex;
    flex-flow: row nowrap;
}

.hero__tabs > * {
    margin: 0 16px 0 0;
}

.hero__tabs > *:last-child {
    margin: 0;
}