@import url("components/header.css");
@import url("components/hero.css");
@import url("components/favoriteCoffee.css");
@import url("components/about.css");
@import url("components/mobileApp.css");
@import url("components/footer.css");

body {
    background: #E1D4C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #403F3D;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

.container {
    padding: 0 40px;
}

.sectionTitle {
    font-size: 60px;
}