@import "../../media.scss";
@import "../../layout.scss";

.coffee__list__container {
    display: flex;
    justify-content: center;
}

.coffee__list {
    display: flex;
    flex-flow: row wrap;
}

.coffee__list--item {
    height: rem(506px);
    width: min-content;
    border: rem(1px) solid #C1B6AD;
    border-radius: rem(40px);
    display: flex;
    flex-flow: column nowrap;
    /* margin-right: rem(40px); */
}

.coffee__list--item {
    margin-bottom: rem(40px);
}

.coffee__list--itemPicture {
    width: rem(310px);
    height: rem(310px);
    border-radius: rem(40px);
    overflow: hidden;

}

.coffee__list--itemPicture > img {
    -webkit-user-drag: none;
}

.coffee__description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: rem(20px);
    flex-grow: 1;
}


.coffee__textBox--title {
    margin: 0 0 rem(12px) 0;
    font-size: rem(24px);
    font-weight: 600;
}

.coffee__price {
    font-weight: 600;
    font-size: rem(24px);
}