html, body {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 786px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 380px) {
  html, body {
    font-size: 14px;
  }
}

body {
  background: #E1D4C9;
  font-family: "Inter", sans-serif;
  color: #403F3D;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0 2.5rem;
}

.sectionTitle {
  font-size: 3.75rem;
}
@media screen and (max-width: 786px) {
  .sectionTitle {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 675px) {
  .sectionTitle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 380px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.coffee__list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.coffee__list--item {
  height: 31.625rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 0.0625rem solid #C1B6AD;
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  /* margin-right: rem(40px); */
}

.coffee__list--item {
  margin-bottom: 2.5rem;
}

.coffee__list--itemPicture {
  width: 19.375rem;
  height: 19.375rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

.coffee__list--itemPicture > img {
  -webkit-user-drag: none;
}

.coffee__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.coffee__textBox--title {
  margin: 0 0 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.coffee__price {
  font-weight: 600;
  font-size: 1.5rem;
}